/* Boutons génériques */
.btn {
  display: inline-flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 22px 38px;
  font-weight: 600;
  font-size: var(--em-for-16px);
  cursor: pointer;
}

/* Deux variantes de boutons : rempli ou vide */
.btn-filled {
  border: 1px solid var(--vert-principal);
  background: var(--vert-principal);
  color: #fff;
}

.btn-empty {
  border: 1px solid var(--vert-principal);
  background: var(--gris-clair);
  color: var(--vert-principal);
}

/* Survol : foncé pour les 2 types de boutons */
.btn-filled:hover {
  background: var(--vert-hover);
}

.btn-empty:hover {
  background: var(--vert-hover);
  color: var(--gris-clair);
}

/* CARDS DES LIVRES */
/* Container de la section des cards des livres */
.cards-nos-livres {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-row-nos-livres) var(--gap-col-nos-livres);
  padding: 72px 0 80px;
}

/* Chaque card est un lien, avec une largeur fixe pour 4 cards par ligne,
et un conteneur flex pour aligner les éléments à l’intérieur */
.cards-nos-livres a {
  flex: 0 1 calc(25% - (var(--gap-col-nos-livres) * 3 / 4));
  display: flex;
  text-decoration: none;
}

/* Contenu de chaque card : image, titre, auteur, propriétaire */
.cards-nos-livres .card {
  background-color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.01);
  border-radius: 10px;
}

/* Image de la card : on utilise object-fit pour que l’image remplisse le cadre sans déformation */
.cards-nos-livres .card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

/* Titre du livre : on laisse le texte s’étendre sur plusieurs lignes si besoin, 
et on utilise flex-grow pour que ce bloc prenne tout l’espace disponible */
.cards-nos-livres .book-title {
  color: #000;
  font-size: var(--em-for-16px);
  /* font-weight: 400; */
  padding-left: 14px;
  padding-top: 20px;
  padding-right: 14px;
  flex-grow: 1;
  font-family: Inter;
  text-align: left;
}

/* Auteur du livre : on utilise une couleur plus claire pour différencier du titre, 
et on ajoute un peu d’espace en haut pour séparer du titre */
.cards-nos-livres .book-author {
  padding-left: 14px;
  padding-top: 11px;
  padding-right: 14px;
  color: var(--gris-texte);
  font-size: var(--em-for-14px);
  /* font-weight: 400; */
}

/* Propriétaire du livre : on utilise une couleur plus claire et un style italique 
pour différencier du titre et de l’auteur,
et on ajoute de l’espace en haut et en bas pour séparer du reste du contenu */
.cards-nos-livres .book-owner {
  padding-left: 14px;
  padding-top: 25px;
  padding-right: 14px;
  padding-bottom: 23px;
  color: var(--gris-texte);
  font-size: var(--em-for-10px);
  font-style: italic;
  /* font-weight: 400; */
}

/* Cartes des livres dédiés aux pages comptes public et compte privé sur petits écrans */
.card-book-sc {
  display: flex;
  flex-direction: column;
  padding: 55px 57px 37px 56px;
  row-gap: 22px;
  border-radius: 20px;
  background-color: white;
  width: 100%;
}

.card-book-sc-info {
  display: flex;
  column-gap: 18px;
  text-decoration: none;
}

.card-book-sc-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.card-book-sc p {
  font-style: italic;
}

.card-book-sc-owner-info {
  display: flex;
  flex-direction: column;
}

/* FORMULAIRES */
.champ-formulaire {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 22px;
}

.champ-formulaire label {
  color: var(--gris-texte);
  font-size: var(--em-for-14px);
  /* font-weight: 400; */
  padding-bottom: 10px;
}

.champ-formulaire input {
  /* flex: 1; */
  width: 100%;
  /* height: 50px; */
  border-radius: var(--radius);
  border: 1px solid var(--rouge-border-error);
  background: var(--bleu-input);
  padding-left: 14px;
  padding-top: 16px;
  padding-bottom: 17px;
  color: var(--gris-fonc);
  font-family: Inter;
  font-size: var(--em-for-14px);
  /* font-weight: 400; */
}

.champ-formulaire select {
  flex: 1;
  width: 100%;
  /* height: 50px; */
  border-radius: var(--radius);
  border: 1px solid var(--rouge-border-error);
  background: var(--bleu-input);
  padding-left: 14px;
  padding-top: 16px;
  padding-bottom: 17px;
  color: var(--gris-fonc);
  font-family: Inter;
  font-size: var(--em-for-14px);
  /* font-weight: 400; */
}

.champ-formulaire textarea {
  /* flex: 1; */
  width: 100%;
  max-width: 100%;
  height: 356px;
  max-height: 356px;
  resize: none;
  border-radius: var(--radius);
  border: 1px solid var(--rouge-border-error);
  background: var(--bleu-input);
  padding-left: 14px;
  padding-top: 16px;
  padding-bottom: 17px;
  color: var(--gris-fonc, #292929);
  font-family: Inter;
  font-size: var(--em-for-14px);
  /* font-weight: 400; */
}

.champ-formulaire input.input-error {
  border: 2px solid red;
}

champ-formulaire input.input-upload {
  /* flex: 1; */
  height: 200px;
}

.text-error {
  color: var(--rouge-text-error);
  font-size: var(--em-for-12px);
  font-style: normal;
  display: block;
}
.auth-error {
  margin-top: -30px;
  padding-bottom: 20px;
}

.feedback-info {
  color: var(--vert-principal);
  font-size: var(--em-for-12px);
  font-style: normal;
  display: block;
  margin-top: 20px;
}

/* Pour la modale de confirmation d'upload */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
}

#preview-image {
  max-width: 100%;
  margin: 15px 0;
  border-radius: 6px;
}

/* VERSION MOBILE */
@media (max-width: 480px) {
  /* CARDS DES LIVRES */
  /* Container de la section des cards des livres */
  .cards-nos-livres {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 34px 0px 0px;
  }

  /* Chaque card est un lien, avec une largeur fixe pour 4 cards par ligne,
et un conteneur flex pour aligner les éléments à l’intérieur */
  .cards-nos-livres a {
    /* flex: 0 1 calc(50% - (var(--gap-col-nos-livres) * 1 / 2)); */
    flex: 0 1 calc(50% - (var(--gap-col-nos-livres-small-screen) * 1 / 2));
    display: flex;
    text-decoration: none;
  }

  /* Contenu de chaque card : image, titre, auteur, propriétaire */
  .cards-nos-livres .card {
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  /* Image de la card : on utilise object-fit pour que l’image remplisse le cadre sans déformation */
  .cards-nos-livres .card img {
    object-fit: cover;
    width: 100%;
    height: 160px;
  }

  /* Titre du livre : on laisse le texte s’étendre sur plusieurs lignes si besoin, 
et on utilise flex-grow pour que ce bloc prenne tout l’espace disponible */
  .cards-nos-livres .book-title {
    font-size: 13px;
    padding-left: 11.2px;
    padding-top: 16px;
    /* padding-right: 14px; */
    text-align: left;
  }

  /* Auteur du livre : on utilise une couleur plus claire pour différencier du titre, 
et on ajoute un peu d’espace en haut pour séparer du titre */
  .cards-nos-livres .book-author {
    padding-left: 11.2px;
    padding-top: 4px;
    /* padding-right: 14px; */
    font-size: 13px;
  }

  /* Propriétaire du livre : on utilise une couleur plus claire et un style italique 
pour différencier du titre et de l’auteur,
et on ajoute de l’espace en haut et en bas pour séparer du reste du contenu */
  .cards-nos-livres .book-owner {
    padding-left: 11.2px;
    padding-top: 18.2px;
    /* padding-right: 14px; */
    padding-bottom: 18.4px;
    font-size: 8px;
  }

  .btn {
    align-self: stretch;
  }
}
