/* Page messagerie */

/* Container principal de la page */
.msg-container {
  display: flex;
  padding-inline: 150px;
  background-color: var(--gris-clair);
  /* min-height: 0; */
  height: calc(100vh - 80px - 61px);
  overflow: hidden; /* Empêche le scroll global de la page */
}

/* Container de la liste des conversations */
.sect-thread {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  background-color: var(--background-light);
  width: 308px;
  /* On ajoute le scroll interne */
  overflow-y: auto;
  height: 100%;
}

.sect-thread h1 {
  font-size: 1.625em;
  padding-left: 34px;
  padding-bottom: 27px;
}

.nav-thread {
  display: flex;
  padding: 21px 42px 21px 30px;
  text-decoration: none;
  width: 100%;
}

.active-thread {
  background-color: white;
}

.thread-context {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  justify-content: center;
  flex: 1; /* permet au texte de prendre tout l’espace restant */
  min-width: 0; /* indispensable pour que l’ellipse fonctionne dans un flex */
}

.thread-info {
  display: flex;
  justify-content: space-between;
}

.thread-info .thread-owner {
  font-size: 0.875em;
  color: var(--gris-fonc);
}

.thread-info .thread-time {
  font-size: 0.75em;
  color: var(--gris-fonc);
}

.thread-context .thread-last-msg {
  font-size: 0.75em;
  color: var(--gris-texte);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Container des bulles de messages */
.sect-bubbles {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--gris-clair);
  padding-left: 44px;
  /* height: calc(100vh - 61px - 80px); */
  /* min-height: 0; */
  /* Plus besoin du calc ici, on prend 100% du parent verrouillé */
  height: 100%;
  min-width: 0;
}

.contact-info {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 15px;
}

.contact-pseudo {
  color: var(--gris-fonc);
  font-weight: 600;
}

.bubbles-zone {
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  /* margin-bottom: 98px; */
}

/* Bloc message (gauche ou droite) */
.bubble-block {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

/* Alignement selon le type */
.bubble-block.left {
  align-self: flex-start;
}

.bubble-block.right {
  align-self: flex-end;
  text-align: right;
}

/* Métadonnées (avatar + date + heure) */
.msg-meta {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

/* Avatar du correspondant */
.bubble-block.left .msg-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

/* Pas d’avatar pour les messages à droite */
.bubble-block.right .msg-avatar {
  display: none;
}

.bubble-block.right .msg-meta {
  justify-content: flex-end;
}

/* Date + heure */
.msg-date,
.msg-time {
  font-size: 0.75em;
  color: var(--gris-texte);
}

/* Style commun à toutes les bulles */
.bubble {
  max-width: 500px;
  padding: 10px 18px 9px 18px;
  border-radius: 3px;
  font-size: 0.75em;
  line-height: normal;
  word-wrap: break-word;
}

/* Messages du correspondant (à gauche) */
.bubble-left {
  align-self: flex-start;
  background: white;
  border: 1px solid var(--bleu-border-border-left);
}

/* Messages émetteur (à droite) */
.bubble-right {
  align-self: flex-end;
  background: var(--bleu-input);
  border: 1px solid var(--bleu-border-bubble-right);
}

.msg-input-zone {
  display: flex;
  gap: 21px;
  height: 49px;
  margin-top: 98px;
  margin-bottom: 98px;
}

.msg-input {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #f0f0f0;
  flex: 1;
  padding-left: 42px;
  color: var(--gris-texte);
  font-size: 0.875em;
  font-weight: 400;
}

.sect-bubbles .return-link {
  display: none;
}

/* VERSION MOBILE */
@media (max-width: 480px) {
  /* 
   * Adaptations page messagerie
   */
  /* Container principal de la page */
  .msg-container {
    flex-direction: column;
    padding: 0px 0px 42px 0px;
    height: 100%;
    overflow: visible;
  }
  .sect-thread {
    width: 100%;
  }

  .thread-invisible {
    display: none;
  }

  .sect-bubbles {
    padding-inline: 20px;
    /* height: 400px; */
    /* overflow-y: auto; */
    /* min-height: 0; */
    /* Plus besoin du calc ici, on prend 100% du parent verrouillé */
    /* height: 100%; */
    /* min-width: 0; */
  }

  .bubbles-invisible {
    display: none;
  }

  .msg-input-zone {
    flex-direction: column;
  }

  .msg-input {
    padding-left: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .sect-bubbles .return-link {
    display: block;
  }
}
