/**
 * Reset css.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * Déclaration des couleurs.
 */
/* :root {
  --backgroundColor: #f1f0eb;
  --headerColor: #d79922;
  --headerPaleColor: #efe1ba;
  --titleColor: #f13c1f;
  --dateColor: #3f56a4;
  --quoteColor: #c5cbe4;
  --commentPaleColor: #99a140;
  --commentColor: #255e33;
} */

/* --- HEADER GLOBAL --- */
.site-header {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  background: var(--Gris-clair, #f5f3ef);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: clamp(40px, 10vw, 150px);
  padding-right: clamp(40px, 10vw, 150px);
  white-space: nowrap;
  font-family: Inter, sans-serif;
}

/* --- LOGO --- */
.logo-block {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 15px;
  flex-shrink: 0;
}

.logo-square {
  width: 51px;
  height: 51px;
  border-radius: 8.5px;
  background: #00ac66;
  position: relative;
}

.logo-svg {
  width: 32.311px;
  height: 25.5px;
  position: absolute;
  margin-left: 9.5px;
  margin-top: 12px;
}

.logo-text {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 600;
  color: #00ac66;
}

/* --- NAVBAR --- */
.navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* --- MENU ITEMS --- */
.menu-item {
  color: #292929;
  font-size: 14px;
  font-weight: 500; /* réduit l'écart avec 600 */
  letter-spacing: 0.28px;
  text-decoration: none;
  display: inline-block;
  flex-shrink: 0;
  transition: font-weight 0.15s;
}

.menu-item:hover {
  font-weight: 600;
}

/* --- ESPACEMENTS EXACTS --- */
.navbar > .menu-item:nth-child(1) {
  margin-left: clamp(40px, 5vw, 78px);
}

.navbar > .menu-item:nth-child(2) {
  margin-left: clamp(20px, 4vw, 44px);
}

/* --- SEPARATOR --- */
.separator {
  width: 1px;
  height: 19px;
  background: #a6a6a6;
  opacity: 0.2;
  margin-left: clamp(40px, 10vw, 208px);
  margin-right: clamp(40px, 10vw, 58px);
}

/* --- MESSAGERIE --- */
.messagerie-block {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 4px;
  flex-shrink: 0;
}

.messagerie-icon {
  width: 15px;
  height: 13.129px;
}

.msg-counter {
  width: 10.5px;
  height: 15px;
  border-radius: 6.75px;
  background: #292929;
  color: #f5f3ef;
  font-size: 8.25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msg-counter.hidden {
  visibility: hidden;
}

/* --- MON COMPTE --- */
.compte-block {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 4px;
  margin-left: clamp(40px, 10vw, 58px);
  flex-shrink: 0;
}

.compte-icon {
  width: 9.286px;
  height: 9.286px;
}

/* --- CONNEXION --- */
.navbar > .menu-item:last-child {
  margin-left: clamp(40px, 10vw, 58px);
}
